// Font Families
$sks-regular: 'Roboto', sans-serif;
$sks-ligth: 'Roboto Condensed', sans-serif;

// Font Sizes
$font-size-1: 0.5rem;
$font-size-2: 0.625rem;
$font-size-3: 0.75rem;
$font-size-4: 0.875rem;
$font-size-5: 1rem;
$font-size-6: 1,125rem;
$font-size-7: 1.25rem;
$font-size-8: 1.5rem;
$font-size-9: 2rem;
$font-size-10: 2.5rem;
$font-size-11: 3rem;

// BreakPoints
$break-point-smaller: 350px;
$break-point-small: 576px;
$break-point-medium: 768px;
$break-point-large: 992px;
$break-point-extra-large: 1200px;

$sks-dark-section: #3a3e45;
$sks-light-section: #54585e;
$sks-background: #22262b;
$sks-border:  #171a1f 1px solid;

$sks-list-padding: 6px 14px;