<ul>
    <li *ngFor="let group of groupsForSelectedSport$ | async" (click)="selectGroup(group.id)">
        {{ group.Name }}

        <ng-container *ngIf="selectedGroupId === group.id">
            <ul>
                <li *ngFor="let event of eventsForSelectedGroup$ | async" (click)="selectEvent(event.id)">
                    {{ event.Name }}

                    <ng-container *ngIf="selectedEventId === event.id">
                        <ul>
                            <li *ngFor="let subevent of subEvents">
                                {{ subevent.Name }}
                                <ng-container *ngIf="subevent.activeOddIds">
                                    <ul>
                                        <li *ngFor="let odd of subevent.activeOddIds">
                                            {{ quotasExample[odd].Selection }} - {{ quotasExample[odd].Value }}
                                        </li>
                                    </ul>
                                </ng-container>
                            </li>
                        </ul>
                    </ng-container>
                </li>
            </ul>
        </ng-container>
    </li>
</ul>